@use '../../style/variables';

.container {
  width: 47%;
  border-radius: 10px;
  padding: 10px;
  background-color: variables.$brown;
}

.headerContainer {
  h3 {
    color: #fff;
  }

  text-align: center;
}
.photoContainer {
  margin: 10px auto;
  width: 100%;
  height: 200px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}

.regenerateBtnContainer {
  display: flex;
  justify-content: center;
}
