$lightCream: #f3deba;
$cream: #a9907e;
$brown: #675d50;
$lightGreen: #abc4aa;
$redAlert: rgba(242, 78, 78, 0.903);
$greenConfirm: rgba(5, 129, 23, 0.668);
$greenConfirmHover: rgba(4, 100, 18, 0.726);
