@use '../../style/variables';

.todoCotainer {
  width: 47%;
  min-height: 100px;
  background-color: variables.$brown;
  border-radius: 15px;
  padding: 10px;
  padding-right: 30px;
  margin-bottom: 15px;
  position: relative;

  .textTodo {
    p {
      color: #fff;
    }
  }

  .icons {
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: space-between;
    position: absolute;
    top: 15px;
    left: 90%;

    .icon {
      &:hover {
        cursor: pointer;
        fill: #000;
      }
    }
  }
}
